.list-billboard-container {
    max-width: 90%;
    margin: 1.875rem auto;
    overflow: auto;
    min-height: 12.5rem;
    border: 0.063rem solid #707070;
    padding: 1.875rem;
    border-radius: 1.25rem;
    box-shadow: 0.375rem 0.375rem 0.375rem #999; 
}

.form-billboard-container {
    max-width: 80%;
    margin: 1.875rem auto;
    overflow: auto;
    min-height: 12.5rem;
    border: 0.063rem solid #707070;
    padding: 1.875rem;
    border-radius: 1.25rem;
    box-shadow: 0.375rem 0.375rem 0.375rem #999; 
}

.main-contact-section {
    max-width: 100%;
    margin: 1.875rem auto;
    overflow: auto;
    min-height: 12.5rem;
    border: 0.063rem solid #b6b6b6;
    padding: 1.875rem;
    border-radius: 0.5rem;
    /*box-shadow: 0.375rem 0.375rem 0.375rem #999; */
}

.main-contact-header{
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom:1rem;
}

.total-pages{
    max-width: 3rem !important;
    color: #888 !important;
    text-align: center;  
}

.of-pages {
    font-size: 1.5rem;
    color: #888;
}

.goto-page-input {
    max-width: 3.2rem !important;
    text-align: center;   
}

.billboard-text {
    width: 100%;
    font-family: 'Calibri';
    font-size: 23px;
    color:#FFF;
    text-align: center;
    align-items: center;
    align-content: center;
}

.billboard-icon{
    font-size:25px;
    color:#FFF;
}

.screen-652x510{
    float: inline-start;
    position: absolute;
    left:0;
    top:0;
    width: 652px;
    height: 510.2px;
    border-color: #2e5875;
    border-style: solid;
    border-width: 2px;
}

.logo{
    position: absolute;
    left:30px;
    top:10px;
    width: 100px;
    height: 50px;

    border-color: #925114;
    border-style: solid;
    border-width: 2px;

}

.billboard-view-photo{
    position: absolute;
    left:238px;
    top:10px;
    width: 388px;
    height: 290px;

    border-color: #921434;
    border-style: solid;
    border-width: 2px;
}

.billboard-fields {
    display: flex;
    background-color: #1d66ab;
    border-color: #1d66ab;
    color:#FFF;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0.375rem 0.375rem 0.375rem #999; 
}

#field-key {
    position: absolute;
    left:30px;
    top:270.4px;
    width: 180px;
    height: 29.1px;
}

#field-address {
    position: absolute;
    left:30px;
    top:309.8px;
    width: 600px;
    height: 50.3px;
}

#field-salemodel {
    position: absolute;
    left:30px;
    top:375.4px;
    width: 290px;
    height: 29.1px;
}

#field-viewpoint {
    position: absolute;
    left:30px;
    top:420.4px;
    width: 290px;
    height: 29.1px;
}

#field-coordenates {
    position: absolute;
    left:30px;
    top:470.4px;
    width: 290px;
    height: 29.1px;
}

#field-dimension {
    position: absolute;
    left:350px;
    top:375.4px;
    width: 280px;
    height: 29.1px;
}

.product-section {
    max-width: 100%;
    margin: 1.875rem auto;
    overflow: auto;
    min-height: 12.5rem;
    border: 0.063rem solid #b6b6b6;
    padding: 1.875rem;
    border-radius: 0.5rem;
    /*box-shadow: 0.375rem 0.375rem 0.375rem #999; */
}

.product-header{
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom:1rem;
}

#card-contact-fullname,#card-contact-position{
    font-weight: bold;
}

.billboard-header {
    display:flex;
    margin-left:3rem;
    margin-right:3rem;
}

.billboard-body {
    margin-left:3rem;
    margin-right:3rem;
}

.billboard-data{
    
    vertical-align: middle;
    
    
}

.icon-data{
    vertical-align: middle;
    margin-right:1rem;
}

.billboard-name{
    text-align: center;
    text-shadow:  0.188rem 0.188rem 0.313rem #999;
}

.billboard-main {
    margin-top: 1.6rem;
    text-shadow:  0.188rem 0.188rem 0.313rem #999;
}
.billboard-photo {
    background-image: linear-gradient(to bottom right,#c9dae6,#2e5875);
    border-color: #FFF;
    border-width: 0.18rem;
    border-style: solid;
    height:5rem;
    margin-right: 2rem;
    border-radius: 2.5rem;
    box-shadow: 0.375rem 0.375rem 0.375rem #999; 
}

.billboard-group {
    display: block;
    font-size: 0.78rem;
    color: #647487;
}

#billboard-card {
    max-width: 30rem;
    min-width: 30rem;
    margin-top:2rem;
    margin-left:25%;
    margin-right:25%;
}