.goal-section{
    text-align:right;
}
.currency-select{
    width: 100%;
}

.graph {
    height: 23.125rem; width: 100%;
}

.update-date-division{
    width: 100%;
    font-size: 00.8rem;
    font-style: italic;
    
}
.update-date-text{
    float: right;
    text-align:right;
}

.section-information-line{
    font-size: 0.8rem;
    font-style: italic;
}

.table{
    margin-top: 1rem !important;
}

.column {
    white-space: nowrap;
}
#last-update-date{
    float: right;
    text-align:right;
    color: #707070;
}

#invoices-list {
    overflow: auto;
    white-space: nowrap;
}
@media screen and (min-width : 1895px) {
    .invoice-container {
        float: center;
        width: 90%;
        max-width: 100%;
        margin: 1.875rem auto;
        overflow: auto;
        min-height: 12.5rem;
        border: 0.063rem solid #707070;
        padding: 1.875rem;
        border-radius: 1.25rem;
        box-shadow: 0.375rem 0.375rem 0.375rem #999; 
    }

    .form-invoice-container {
        float: center;
        width: 90%;
        max-width: 100%;
        margin: 1.875rem auto;
        overflow: auto;
        min-height: 12.5rem;
        border: 0.063rem solid #707070;
        padding: 1.875rem;
        border-radius: 1.25rem;
        box-shadow: 0.375rem 0.375rem 0.375rem #999; 
    }

    .lateral-filter-container{
        position:fixed;
        _position:absolute;
        top:20%;
        left:1.875rem;
        float: left;
        width: 22rem;
        max-width: 22rem;
        margin: 1.875rem auto;
        overflow: auto;
        min-height: 12.5rem;
        border: 0.063rem solid #707070;
        padding: 1.875rem;
        border-radius: 1.25rem;
        /*box-shadow: 0.375rem 0.375rem 0.375rem #999;*/    
    }

    .filter-container{
        width: 100%;
        max-width: 100%;
        margin: 1.875rem auto;
        overflow: auto;
        min-height: 3.5rem;
        border: 0.063rem solid #b6b6b6;
        padding: 1.875rem;
        border-radius: 0.5rem;
        /*box-shadow: 0.375rem 0.375rem 0.375rem #999; */
    }

    .result-container{
        max-width: 100%;
        margin: 1.875rem auto;
        overflow: auto;
        min-height: 8.5rem;
        border: 0.063rem solid #b6b6b6;
        padding: 1.875rem;
        border-radius: 0.5rem;
        /*box-shadow: 0.375rem 0.375rem 0.375rem #999; */
    }

    .goal-title{
        font-weight: bold;
    }

    .goal-result{
        margin-left: 0.2rem;
    }

    .hidden{
        display:none;
    }
}

@media screen and (min-width : 1024px) and (max-width : 1895px) {
    .form-invoice-container {
        float: center;
        width: 90%;
        max-width: 100%;
        margin: 1.875rem auto;
        overflow: auto;
        min-height: 12.5rem;
        border: 0.063rem solid #707070;
        padding: 1.875rem;
        border-radius: 1.25rem;
        box-shadow: 0.375rem 0.375rem 0.375rem #999; 
    }

    .invoice-container {
        float: center;
        width: 90%;
        max-width: 100%;
        margin: 1.875rem auto;
        overflow: auto;
        min-height: 12.5rem;
        border: 0.063rem solid #707070;
        padding: 1.875rem;
        border-radius: 1.25rem;
        box-shadow: 0.375rem 0.375rem 0.375rem #999; 
    }

    .lateral-filter-container{
        position:fixed;
        _position:absolute;
        top:20%;
        left:1.875rem;
        float: left;
        width: 22rem;
        max-width: 22rem;
        margin: 1.875rem auto;
        overflow: auto;
        min-height: 12.5rem;
        border: 0.063rem solid #707070;
        padding: 1.875rem;
        border-radius: 1.25rem;
        /*box-shadow: 0.375rem 0.375rem 0.375rem #999;*/    
    }

    .filter-container{
        width: 100%;
        max-width: 100%;
        margin: 1.875rem auto;
        overflow: auto;
        min-height: 3.5rem;
        border: 0.063rem solid #b6b6b6;
        padding: 1.875rem;
        border-radius: 0.5rem;
        /*box-shadow: 0.375rem 0.375rem 0.375rem #999; */
    }

    .result-container{
        max-width: 100%;
        margin: 1.875rem auto;
        overflow: auto;
        min-height: 8.5rem;
        border: 0.063rem solid #b6b6b6;
        padding: 1.875rem;
        border-radius: 0.5rem;
        /*box-shadow: 0.375rem 0.375rem 0.375rem #999; */
    }

    .goal-title{
        font-weight: bold;
    }

    .goal-result{
        margin-left: 1rem;
    }

    .hidden{
        display:none;
    }
}

@media screen and (max-width : 1024px) {
    .form-invoice-container {
        max-width: 90%;
        margin: 1.875rem auto;
        overflow: auto;
        min-height: 12.5rem;
        border: 0.063rem solid #707070;
        padding: 1.875rem;
        border-radius: 1.25rem;
        box-shadow: 0.375rem 0.375rem 0.375rem #999; 
    }

    .invoice-container {
        max-width: 90%;
        margin: 1.875rem auto;
        overflow: auto;
        min-height: 12.5rem;
        border: 0.063rem solid #707070;
        padding: 1.875rem;
        border-radius: 1.25rem;
        box-shadow: 0.375rem 0.375rem 0.375rem #999; 
    }
    
    .lateral-filter-container{
        max-width: 80%;
        margin: 1.875rem auto;
        overflow: auto;
        min-height: 3.5rem;
        border: 0.063rem solid #707070;
        padding: 1.875rem;
        border-radius: 1.25rem;
        box-shadow: 0.375rem 0.375rem 0.375rem #999;   
    }
    
    .filter-container{
        width: 100%;
        max-width: 100%;
        margin: 1.875rem auto;
        overflow: auto;
        min-height: 3.5rem;
        border: 0.063rem solid #b6b6b6;
        padding: 1.875rem;
        border-radius: 0.5rem;
        /*box-shadow: 0.375rem 0.375rem 0.375rem #999; */
    }
}